APP_DB_PATH=data/app.db
PLAYWRIGHT_PROFILE_DIR=data/playwright-profile
PLAYWRIGHT_BROWSERS_PATH=runtime/ms-playwright
CTRIP_SNAPSHOT_DIR=tests/fixtures
CTRIP_SEARCH_URL_TEMPLATE=https://flights.ctrip.com/online/list/oneway-{origin}-{destination}?depdate={departure_date}&cabin=y_s_c_f&adult=1&child=0&infant=0&containstax=1
CTRIP_SESSION_URL=https://flights.ctrip.com/online/channel/domestic
APP_BASE_URL=http://127.0.0.1:8000
